
.App-header {
  display: flex;
  justify-content: center;
  font-size:xx-large;
  margin-bottom: 2rem;
}

.navbar {
  display: flex;
  justify-content: center;
  font-size: large;
  margin-right: 1rem;
  margin-left: 1rem;
}

.recipePhotoBlock {
  display: flex;
  justify-content: space-evenly;
}
